<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body{
            background: url("/static/home.jpg");
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div style="text-align: center">
        <h1>
            <br>
            欢迎 {{ username }} 使用接口测试平台
        </h1>
        <h3>welcome to use ApiTest</h3>

        <textarea id="tucao_input" cols="50" rows="10" placeholder="吐槽专用,可怒喷开发者！" style="border-radius: 5px;padding-left: 10px;box-shadow: 4px 4px 9px grey;opacity: 0.7"></textarea>
        <br>
        <button style="border-radius: 10px 10px 10px 10px;width: 100px;opacity: 0.7" onclick="submit()">提交</button>

    </div>
    <script>
        function submit() {
            $.get('/submit/',{
                "tucao_text":document.getElementById('tucao_input').value,
            },function (ret) {
                alert('提交成功！')
            })
        }
    </script>
</body>
</html>